.form-contact-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #1f1a38;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #51286c;
}

@media (max-width: 500px) {
    .contact-form {
        padding: 15px;
    }

    .contact-form h2 {
        font-size: 20px;
    }
}